<section class="container project-details content-section text-left">
    <div class="row">
       <div class="col-lg-8 col-lg-offset-2">
          <h2 class="text-center">Discussion Board</h2>
          <p>
            Discussion Board is a MEAN application that I built for a Coding Dojo assignment.  The assignment objective was to built a simple discussion forum application to allow users to post a topic, or add a post to a topic, and finally add comments to posts.  Users can also Like and Dislike topics, posts and comments.  Here is a storyboard of how the discussion board should behave (click to enlarge).
         </p>
         <figure>
            <a class="modal-img" href="#">
               <img src="./img/discussion_board/sample-mean.png" />
               <figcaption>
                  Storyboard of Discussion Board
               </figcaption>
            </a>
         </figure>
         <p>
            Users have the ability to login with a unique username.  Although password protected accounts isn't a feature at the moment (or an original requirement of the project), it's something that I may add in the future.
         </p>
         <figure>
            <a class="modal-img" href="#">
               <img src="./img/discussion_board/login_screen.jpg" />
               <figcaption>
                  Login Screen
               </figcaption>
            </a>
         </figure>
         <p>
            The main dashboard view of the application shows the list of available user-created topics to comment and post on.  Each row shows the topic name, the post date/time, the category, author, number of posts, and the timestamp of the last post.  See the following image below for a screenshot of the application.
         </p>
         <figure>
            <a class="modal-img" href="#">
               <img src="./img/discussion_board/topic_view.jpg" />
               <figcaption>
                  Topic List
               </figcaption>
            </a>
         </figure>
         <p>
            The topic details shows the main topic post at the top of the page, followed by posts (in chronological order), along with their children comments nested below them.  Users can uniquely Like and Dislike the topic, post, or comment and add to their respective rating. Below each post, users can add a comment for that post.  Users can also add a post to the topic at the bottom of the page. 
         </p>
         <figure>
            <a class="modal-img" href="#">
               <img src="./img/discussion_board/post_details.jpg" />
               <figcaption>
                  Topic Details
               </figcaption>
            </a>
         </figure>
         <p>
            This project isn't hosted on anywhere yet!  Check back soon for a demo of this application.
         </p>
       </div>
    </div>
</section>
