<!-- About Section -->
<section id="about" class="container content-section text-center">
    <div class="row">
       <div class="col-lg-8 col-lg-offset-2">
          <h2>About Me</h2>
          <p>
             I'm a full-stack web application developer in Seattle, WA.  I'm a recent gradate of the Coding Dojo and a graduate of the University of Washington's Informatics program.  Please browse my <a class="page-scroll" href="#portfolio">portfolio</a> or <a class="page-scroll" href="#contact">contact me</a> if you have any questions.
          </p>
       </div>
    </div>
</section>

<!-- Portfolio Section -->
<section id="portfolio" class="content-section text-center">
   <div class="download-section">
       <div class="container">
          <div class="col-lg-10 col-lg-offset-1">
             <h2>Portfolio</h2>
          </div>
          <div class="col-lg-10 col-lg-offset-1 portfolio-gallery">
            <div class="col-sm-3 col-xs-12 project-contain">
                <a href="#" class="project-thumb int-proj" data-alt-proj="simon_says">
                   <div class="img-container">
                      <img src="./img/simon/simon.jpg" alt="Simon Says" />
                   </div>
                   <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                          <i class="fa fa-search-plus fa-3x"></i>
                      </div>
                  </div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-12 project-contain">
                <a href="#" class="project-thumb int-proj" data-alt-proj="discussion_board">
                   <div class="img-container">
                      <img src="./img/discussion_board/topic_view.jpg" alt="Discussion Board" />
                   </div>
                   <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                          <i class="fa fa-search-plus fa-3x"></i>
                      </div>
                  </div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-12 project-contain">
                <a href="/projects/notes_react" target="_blank" class="project-thumb">
                   <div class="img-container">
                      <img src="./img/post_its/post_it.png" alt="React Notes" />
                   </div>
                   <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                          <i class="fa fa-search-plus fa-3x"></i>
                      </div>
                  </div>
                </a>
            </div>
            <div class="col-sm-3 col-xs-12 project-contain">
                <a href="/projects/match_cards_react" target="_blank" class="project-thumb">
                   <div class="img-container">
                      <img src="./img/match_cards/match_cards.jpg" alt="Match Cards" />
                   </div>
                   <div class="portfolio-hover">
                      <div class="portfolio-hover-content">
                          <i class="fa fa-search-plus fa-3x"></i>
                      </div>
                  </div>
                </a>
            </div>
          </div>
       </div>
   </div>
</section>

<!-- Contact Section -->
<section id="contact" class="container content-section text-center">
   <div class="row">
       <div class="col-lg-8 col-lg-offset-2">
           <h2>Contact Me</h2>
           <p>Feel free to email me about any questions on my work or personal projects</p>
           <ul class="list-inline banner-social-buttons">
               <li>
                   <a href="mailto:leddie24@gmail.com" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">E-mail</span></a>
               </li>
               <li>
                   <a href="https://github.com/leddie24/" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
               </li>
               <li>
                   <a href="http://codepen.io/leddie24/" class="btn btn-default btn-lg"><i class="fa fa-codepen fa-fw"></i> <span class="network-name">Codepen</span></a>
               </li>
               <li>
                   <a href="https://www.linkedin.com/in/eliu1" class="btn btn-default btn-lg"><i class="fa fa-linkedin-square fa-fw"></i> <span class="network-name">LinkedIn</span></a>
               </li>
           </ul>
       </div>
   </div>
</section>