<section id="resume" class="container project-details content-section text-left">
  <div class="row">
     <div class="col-lg-9 col-lg-offset-1">
        <div class="row">
          <h4>Skills and Technologies</h4>
          <ul class="col-lg-3">
            <li>AngularJS</li>
            <li>ExpressJS</li>
            <li>Javascript</li>
            <li>jQuery</li>
          </ul>
          <ul class="col-lg-3">
            <li>CSS3</li>
            <li>LESS</li>
            <li>SCSS</li>
            <li>Bootstrap</li>
          </ul>
          <ul class="col-lg-3">
            <li>MySQL</li>
            <li>MongoDB</li>
            <li>HTML5</li>
            <li>PHP</li>
          </ul>
          <ul class="col-lg-3">
            <li>Git</li>
            <li>REST</li>
            <li>AJAX</li>
            <li>OS X</li>
          </ul>
        </div>
        <ul class="timeline">
          <li class="timeline-inverted">
            <div class="timeline-badge success"><i class="fa fa-code-fork"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Coding Dojo</h4>
                <p><small>Black Belt MEAN Stack</small></p>
                <p><small class="text-muted">December 2015 - December 2015</small></p>
              </div>
              <div class="timeline-body">
                <p>Comprehensive one month bootcamp to learn the MEAN stack (MongoDB, ExpressJS, AngularJS and NodeJS).  Learned full-stack development, studied data structures and algorithms and collaborated with fellow bootcampers to build web applications.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge"><i class="fa fa-wordpress"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">LexBlog</h4>
                <p><small>Front-End Web Developer</small></p>
                <p><small class="text-muted">February 2015 - November 2015</small></p>
              </div>
              <div class="timeline-body">
                <p>
                  <ul>
                    <li>Sliced and converted PSDs into Wordpress themes for various law firm clients using Photoshop, HTML, CSS, PHP, jQuery</li>
                    <li>Develop and manage email subscription newsletters through MailChimp</li>
                    <li>Migrated content, e-mail subscriptions and other assets from MovableType websites to the Wordpress platform</li>
                  </ul>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge warning"><i class="fa fa-briefcase"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">UpTop</h4>
                <p><small>Front-End Web Developer</small></p>
                <p><small class="text-muted">June 2013 - January 2015</small></p>
              </div>
              <div class="timeline-body">
                <p>
                  <ul>
                    <li>Develop web pages for several clients utilizing HTML5, CSS3, and JavaScript</li>
                    <li>Ensure cross-browser compatibility and functionality</li>
                  </ul>
                </p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge danger"><i class="fa fa-file-code-o"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">Booz Allen Hamilton</h4>
                <p><small>Consultant</small></p>
                <p><small class="text-muted">October 2012 - May 2013</small></p>
              </div>
              <div class="timeline-body">
                <p>
                  <ul>
                    <li>Designed and developed a SharePoint website in support of the Joint Tactical Networking Center (JTNC) website, an organization that supports development of networking and radio equipment for military use. 
                    <li>Developed consulting skills through client interaction, management, and requirements gathering</li>
                    <li>Designed and proposed feasible solutions through processing indefinite requirements</li>
                    <li>Utilized wireframing, JavaScript (jQuery), jQueryUI, XHTML and CSS3 to design and develop site features and web pages</li>
                  </ul>
                </p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge info"><i class="fa fa-graduation-cap"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">University of Washington</h4>
                <p><small>B.S. Informatics</small></p>
                <p><small class="text-muted">September 2008 - June 2012</small></p>
              </div>
            </div>
          </li>
      </ul>
     </div>
  </div>
</section>
