<section class="container project-details content-section text-left">
    <div class="row">
       <div class="col-lg-8 col-lg-offset-2">
          <h2 class="text-center">Simon Says</h2>
          <p>
            Simon Says is a small game I reproduced in Javascript for Free Code Camp.  As part of the project guidelines, I had to develop the game with these 7 user stories as a requirement:
            <ol>
              <li>
              User Story: Each time I input a series of button presses correctly, I see the same series of button presses but with an additional step.
              </li>

              <li>
                User Story: I hear a sound that corresponds to each button both when the series of button presses plays, and when I personally press a button.
              </li>
              <li>
                User Story: If I press the wrong button, I am notified that I have done so, and that series of button presses starts again to remind me of the pattern so I can try again.
              </li>
              <li>
                User Story: I can see how many steps are in the current series of button presses.  
              </li>
              <li>
                User Story: If I want to restart, I can hit a button to do so, and the game will return to a single step.
              </li>
              <li>
                User Story: I can play in strict mode where if I get a button press wrong, it notifies me that I have done so, and the game restarts at a new random series of button presses.
              </li>
              <li>
                User Story: I can win the game by getting a series of 20 steps correct. I am notified of my victory, then the game starts over.User Story: I am presented with a random series of button presses.
              </li>
            </ol>
          </p>
          <p>
            The game is hosted on CodePen.  Click the link below to see it in action!
          </p>
             <a href="http://codepen.io/leddie24/full/rxvRdx/" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-codepen fa-fw"></i> <span class="network-name">Simon Says</span></a>
       </div>
    </div>
</section>
